@import "reset.css";
@import "style.css";

section {
  color: white;
}
.on {
  display: block;
}
.off {
  display: none;
}

#start {
  text-align: center;
  color: white;
  font-size: 4vw;
}
#start button {
  font-size: 3vw;
  margin-top: 2vw;
}
#start button:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0);
}

#qna {
  margin: 0 auto;
  width: 90vw;
  height: 25vw;
  align-items: center;
}
#qna div {
  float: left;
  width: 14vw;
  height: 14vw;
  margin: 2vw;
  cursor: pointer;
}
#qna img {
  position: relative;
  width: 14vw;
  height: 14vw;
  margin: -15vh 3vw 0 1vw;
}

#qna #p0 {
  animation: floating 1.5s ease-in-out infinite;
}
#qna #p1 {
  animation: floating 1.3s ease-in-out infinite;
}
#qna #p2 {
  animation: floating 1.8s ease-in-out infinite;
}
#qna #p3 {
  animation: floating 1.6s ease-in-out infinite;
}
#qna #p4 {
  animation: floating 1.4s ease-in-out infinite;
}

#qna #p0 img {
  transform: rotate(60deg);
}
#qna #p1 img {
  transform: rotate(90deg);
}
#qna #p2 img {
  transform: rotate(180deg);
}
#qna #p3 img {
  transform: rotate(0deg);
}
#qna #p4 img {
  transform: rotate(270deg);
}

@keyframes floating {
  0% {
    transform: translateY(-4px);
  }
  20% {
    transform: translateY(-7px);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-13px);
  }
  80% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(-4px);
  }
}
