@import "./style.css";

section {
  color: white;
}
.on {
  visibility: visible;
}
.off {
  visibility: hidden;
}

#start {
  text-align: center;
  color: white;
  font-size: 2.5em;
}
#start button {
  font-size: 2.3rem;
  margin-top: 20px;
}
#start button:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0);
}

#qna {
  margin: 0 auto;
  margin-top: -50px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#qna div {
  cursor: pointer;
}
#qna img {
  position: relative;
  max-width: 150px;
}

#qna #p0 {
  animation: floating 1.5s ease-in-out infinite;
}
#qna #p1 {
  animation: floating 1.3s ease-in-out infinite;
}
#qna #p2 {
  animation: floating 1.8s ease-in-out infinite;
}
#qna #p3 {
  animation: floating 1.6s ease-in-out infinite;
}
#qna #p4 {
  animation: floating 1.4s ease-in-out infinite;
}

#qna #p0 img {
  transform: rotate(60deg);
}
#qna #p1 img {
  transform: rotate(90deg);
}
#qna #p2 img {
  transform: rotate(180deg);
}
#qna #p3 img {
  transform: rotate(0deg);
}
#qna #p4 img {
  transform: rotate(270deg);
}

@keyframes floating {
  0% {
    transform: translateY(-4px);
  }
  20% {
    transform: translateY(-7px);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-13px);
  }
  80% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(-4px);
  }
}
